@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
body {font-family: "Source Code Pro", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0; background-image: url(/assets/images/background_004.png); background-size: cover;}
path.link {
  fill: none;
  stroke-width: 2px;
}
.node:not(:hover) .nodetext {
  /*display: none;*/
  visibility: hidden;
  opacity: 0.6;
}

.node:hover {
	cursor: pointer;
}

.textRect {
	opacity: 0;
}

.node:hover .textRect {
	opacity: 0.5;
}

h1 { font-size: 36px; margin: 10px 0; text-transform: uppercase; font-weight: normal;}
h2, h3 { font-size: 18px; margin: 5px 0 ; font-weight: normal;}
header {padding: 20px; position: absolute; top: 0; left: 0;}
a:link { color: #EE3124; text-decoration: none;}
a:visited { color: #EE3124; }
a:hover { color: #A4CD39; text-decoration: underline;}
a:active { color: #EE3124; }