@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
body {font-family: "Source Code Pro", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0; background-image: url(/assets/images/background_004.png); background-size: cover;}
path.link {
  fill: none;
  stroke-width: 2px;
}

g.textContainer > text {
	font-size: 0.60em;
  font-family: sans-serif;
}

.nodeTitle {
	font-weight: bold;
  font-size: 0.65em;
  font-family: sans-serif;
}

.node:not(.noFade) {
  animation: show 4s ease 1;
}

.link {
  animation: show 8s ease 1; 
}

.node .textContainer {
  /*display: none;*/
  /*visibility: hidden;*/
  opacity: 0;
  transition: 0.2s linear opacity;
}

.node:hover > .textContainer {
	opacity: 0.7;
}

.textContainer:hover {
	opacity: 1 !important;
}


.node:hover {
	cursor: pointer;
}

.textRect {
	/*opacity: 0;*/
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


h1 { font-size: 36px; margin: 10px 0; text-transform: uppercase; font-weight: normal;}
h2, h3 { font-size: 18px; margin: 5px 0 ; font-weight: normal;}
header {padding: 20px; position: absolute; top: 0; left: 0;}
a:link { color: #EE3124; text-decoration: none;}
a:visited { color: #EE3124; }
a:hover { color: #A4CD39; text-decoration: underline;}
a:active { color: #EE3124; }